.divisiones,p{
	font-size: 30px;
	 border: 10px solid;
  border-color: orange;
	background-color: green;
	text-align: center;
	 margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 1340px;
  height: 43px;
}